* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	line-height: 1.5;
	color: #333;
	margin: 0;
}

a {
	color: #fff;
}

.navbar-brand {
  width: 40%;
}

#logo {
  margin-top: 3%;
  margin-left: 1%;
}

.navbar-brand img {
	width: 75%;
}


#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
    background-color: #0f0f0f;
    opacity: 1;
}

li {
	margin: 0 20px;
}

#mainNavbar .nav-link {
    font-weight: 200;
    color: white
}

#mainNavbar .navbar-brand {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 700;
}

.navbar.scrolled {
    background-color: rgb(222, 192, 222);
    transition: background-color 500ms;
}

.scroll-link:hover {
  cursor: pointer;
}


section {
  display: flex;
	 justify-content: center;
	 align-items: center;
	 flex-direction: column;
   padding-top: 40px;
}

h2 {
	 color: black;
   text-align: center;
   padding-top: 40px;
}

 .grid-container {
	 columns: 4 200px;
	 column-gap: 1.5rem;
	 width: 90%;
	 margin: 0 auto;
}
 .grid-container div {
	 width: 200px;
	 margin: 0 1.5rem 1.5rem 0;
	 display: inline-block;
	 width: 100%;
	 border: solid 2px black;
	 padding: 5px;
	 border-radius: 5px;
	 transition: all 0.25s ease-in-out;
}
 .grid-container div:hover img {
	 filter: grayscale(0);
}
 .grid-container div:hover {
	 border-color: black;
	 cursor: pointer;
}
 .grid-container div img {
	 width: 100%;
	 /* filter: grayscale(100%); */
	 border-radius: 5px;
	 /* transition: all 0.25s ease-in-out; */
}
 .grid-container div p {
	 margin: 5px 0;
	 padding: 0;
	 text-align: center;
	 font-style: italic;
}
 
footer {
  margin-top: 9.25%;
  margin-bottom: 3%;
}

.fab {
  font-size: 1.5rem;
}

.made {
  font-size: 1.25rem;
  color: #0f0f0f;
}

.email {
  text-align: center;
}

.email a {
  color: #0f0f0f;
}

.email a:hover {
  color: #0f0f0f;
  text-decoration: none;
}

.fab {
  color: black;
}


.social {
  text-align: right;
}

.social a {
  color: #0f0f0f;
}

.fa-linkedin-in:hover {
  color: #2867B2;
}

.fa-dribbble:hover {
  color: #ea4c89;
}


/* MEDIA QUERIES */

@media screen and (max-width: 600px) {
    .navbar-brand {
      width: 70%;
    }
    
  }

  @media screen and (max-width: 992px) {

    .social {
      text-align: center;
      margin-left: 0;
      margin-bottom: 5%;
    }

    .email {
      text-align: center;
    }

    .made {
      text-align: center;
    }
  }