
html, body {
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

#pageHero {
  background-image: url('../imgs/page-hero.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  position: relative;
  height: 682px;
}


/*  NAVBAR  */



.navbar-brand {
  width: 30%;
}

#logo {
  margin-top: 3%;
  margin-left: 1%;
}


#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
    transition: 0.25s;
}


.active {
  
  width: 100%;
  
  background:#92B9F8;
  opacity: 1;
  color: white;
}

li {
	margin: 0 20px;
}


#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .navbar-brand {
    font-size: 1.5rem;
    font-weight: 700;
}



/*  PAGE HERO  */

.page-wrap {
  margin: 0;
  position: absolute;
  top: 55%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.page-wrap h1 {
  margin-bottom: 25px;
}

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

h1 {
  border-right: solid 15px rgba(0,255,0,.75);
  white-space: nowrap;
  overflow: hidden;    
  font-family: 'Source Code Pro', monospace;  
  font-size: 28px;
  color: rgba(255,255,255,.70);
  margin: 0 auto;
}

/* Animation */
h1 {
  animation: animated-text 4s steps(29,end) 1s 1 normal both,
             animated-cursor 600ms steps(29,end) infinite;
}

/* text animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 542px;}
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-right-color: rgba(169, 169, 169,1);}
  to{border-right-color: transparent;}
}

.page-wrap p {
  font-size: 1.5rem;
  font-family: 'Helvetica', serif;
  margin-bottom: 50px;
}


button {
  width: 200px;
  font-family: 'Helvetica';
  text-transform: uppercase;  
  margin: 0 auto;
}

h1 {
  font-weight: 700;
  font-size: 5em;
}

.navbar-toggler {
  align-items: flex-end;
  width: 60px;
}




@media screen and (max-width: 600px) {
  .page-wrap h1 {
    font-size: 3rem;
  }
  .page-wrap p {
    font-size: 1.25rem;
  }

  @keyframes animated-text{
    from{width: 0;}
    to{width: 360px;}
  }
  button {
    width: 300px;
  }

}

@media screen and (max-width: 768px) {
    .navbar-brand {
      width: 250px;
    }
    #pageHero {
      background-position: 60% 50%;
    }
  }



